@charset "UTF-8";
/*main*/
.navi {
   position: absolute;
   width: 100%;
   height: 82px;
   left: 0px;
   z-index: 2;
   background: rgba(39, 36, 58, 0.6);
}

nav button img{
	margin-top:15px;
	margin-left:35px;
	top:10px;
	left:10px;
	background:rgba(0,0,0,0);
	border:none;
}
nav button{
	background:rgba(0,0,0,0);
	border:none;
}
.search-icon{
	position:absolute;
	right:27%;
	margin-top:-43px;
}
/* .search-container {
	width: 490px;
	display: block;
	margin: 0 auto;
	color: #ffffff;
	background-color: rgba(0,0,0,0);
	position: realative;
	width: 450px;
	height: 46px;
	left: 1400px;
	top: 17px;
	
	
} */
/* input#search-bar {
	margin: 0 auto;
	width: 480px;
	height: 45px;
	padding: 0 20px;
	font-size: 1rem;
	border: 1px solid #D0CFCE;
	outline: none;
	background-color: rgba(0,0,0,0);
} */


.logo {
   background-image: url(../image/logo.png);
   width: 300px;
   height: 300px;
   position: absolute;
   left: 20px;
   top: 10px;
   background-repeat: no-repeat;
  
}

.navbar-header {
   background-image: url("../image/logo.png");
   width: 300px;
   height: 300px;
}

.navibar-brand {
   background-image: url("../image/logo.png");
   position: relative;
   width: 191px;
   height: 59px;
   left: 10%;
   top: 20%;
}

.entire {
   width: 100%;
   height: 11000px;
   margin: none;
   background-color: #FDFEFE;;
}

input {
   font-size: 20px;
   font-weight: 500;
   font-family: 'Noto Sans KR', sans-serif;
}

.login {
   position: absolute;
   width: 100px;
   height: 46px;
   left: 1750px;
   top: 17px;
   border: 1.45px solid rgba(0, 0, 0, 0);
   background-color: rgba(0, 0, 0, 0);
   box-sizing: 70px;
   border-radius: 10px;
   font-weight: 300;
   font-size: 20px;
   line-height: 23px;
}

.login a {
   color: white;
   font-family: 'Noto Sans KR', sans-serif;
   font-weight: 400;
   text-decoration: none;
}

.signin {
   background-color: rgba(0, 0, 0, 0);
   position: absolute;
   width: 134px;
   height: 46px;
   left: 1900px;
   top: 17px;
   border: 1.45px solid #FDFEFE;
   box-sizing: border-box;
   border-radius: 10px;
   font-weight: 300;
   font-size: 20px;
   line-height: 23px;
}

.signin a {
   font-family: 'Noto Sans KR', sans-serif;
   color: white;
   font-weight: 400;
   text-decoration: none;
}

input {
   color: #ffffff;
   background-color: rgba(0, 0, 0, 0);
   position: absolute;
   width: 502px;
   height: 46px;
   left: 1059px;
   top: 17px;
   border: 1.45px solid #FDFEFE;
   box-sizing: border-box;
   border-radius: 10px;
}

.headerpic {
   position: relative;
   width: 100%;
   height: 580px;
   margin: 0px auto;
   background-image: url("../image/movie.jpg");
   z-index: 1;
}

.graybox {
   position: relative;
   width: 100%;
   height: 580px;
   margin: 0px auto;
   background: rgba(40, 40, 40, 0.48);
}

.banner {
   position: relative;
   width: 1378px;
   height: 100px;
   margin: 0px auto;
   top: 100px;
   background-image: url("../image/banner.png");
}

.boxofficeTitle{
	z-index:1;
	position:absolute;
	width:300px;
	height:100px;
	background-color: #FDFEFE;
    top:500px;
    left:42%;
    text-align:center;
    padding:20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:500;
    font-size: 25pt;
    color:black;
}

/* main section*/

/* main section-SliderView*/
.articleback {
   position: absolute;
   text-align:center;
   width: 100%;
   height: 100%;
   top: 583px;
   background: #FDFEFE;
}

.boxofficerank{
/* background-color:black; */
position: relative;
width: 1500px;
height: 550px;
margin:0px auto;
/* top: 78px; */
top:10px;
left:0%;
text-align:center;
}
.makeOverflow{
position:relative;
top:10%;
float:left;
margin:0px auto;
padding-top:30px;
width:1355px;
height:550px;
overflow: hidden;
text-align:center;
}
.oneRank{
top:100px;
display:inline-block; 
margin-top:60px;
margin:40px auto;
width:250px;
height:450px;
text-align:center;
border:none;
outline: none;
}
.ranks{
text-align:left;
margin:0px;
padding:10px;
width: 250px;
height: 376px;
filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
/* border:2.5px solid white; */
border-radius: 10px;
padding:0px
}
.lefter{
   position:relative;
   float:left;
   top:50%;
   margin:10px;
   margin-right:20px;
}
.righter{
   position:relative;
   float:right;
   top:50%;
   margin:10px;
   margin-left:20px;
}
.rankTitle{
   position:relative;
   text-align:left;
   left:13%;
   font-family: 'Noto Sans KR', sans-serif;
   font-weight:700;
   font-size: 17pt;
   line-height: 30pt;
   margin-bottom:0px;
}
.rankRate{
   position:relative;
   text-align:left;
   left:13%;
   font-family: 'Noto Sans KR', sans-serif;
   font-weight:400;
   font-size:15pt;
   margin-top:-5px;
}

.rankNum{
color:white;
font-family:'Noto Sans', sans-serif;
position:relative;
text-align:left;
text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.35);
left:15%;
font-style: italic;
font-weight: 800;
font-size: 50pt;
margin-top:-80px;
margin-bottom:0px;
}
.oneRank a{
   color:black;
}
.oneRank a:hover{
   text-decoration: none;
   color: #573EF2;
}
.oneRank a:focus{
   text-decoration: none;
   color: #573EF2;
   border:none;
   outline: none;
}




/* main section-MovieArray */
.movieList{
   position:relative;
   text-align:left;
   width:1378px;
   height:2000px;
   margin:0px auto;
   top:200px;
}
.moviemenu {

   color: black;
   width: 1378px;
   height: 50px;
   top:100px;
}
movies{
	margin-top:80px;
	top:600px;
	float:left;
	width:1000px;
	height:800px;
	text-align:left;	
}
.movies a {
   margin-left: 0px;
   margin-right: 20px;
   margin-top: 100px;
   font-weight: 500;
   font-size: 30px;
   line-height: 220px;
   background-color: rgba(0, 0, 0, 0);
   color: #817E7E;
}

.divider {
	top:10px;
	margin-top:100px;
   float: right;
   margin-left: 10px;
   margin-right: 10px;
   font-weight: 250;
   font-size: 20px;
   line-height: 23px;
}
.filter{
	float:right;
	top:0px;
	margin-top:100px;
}
.filter a {
   float: right;
   margin-top: 0px;
   font-weight: 600;
   font-size: 20px;
   line-height: 23px;
   color: #27243A;
}




.moviearray {
   position: relative;
   text-align: left;
   left:0px;
   /*     border:1px solid black; */
   width: 1378px;
   height: 9000px;
   margin: 0px auto;
   top: 100px;
}
.movieArrays{
   position: relative;
   text-align: left;
   border:1px solid black;
   width: 1378px;
   height: 2000px;
   margin: 0px auto;
   top: 100px;
   background-color: black;
   
}
.column{
   text-align:left;
   margin-top:60px;
}
.column a:hover{
   text-decoration: none;
   color: #573EF2;
}
.column a:focus{
   text-decoration: none;
   color: #573EF2;
   border:none;
   outline: none;
}
.column a{
   color:black;
}
.row{
   width:1378px;
   height:2000px;
}
div.MV_Array img{
   width: 290px;
   height: 415px;
   filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.35));
   border-radius: 10px;
   margin-bottom:15px;
}

.column a:hover{
   text-decoration: none;
   color: #573EF2;
}
.column a:focus{
   text-decoration: none;
   color: #573EF2;
   border:none;
   outline: none;
}
.column a{
   color:black;
}

<!-- -->


div.MV_Array img{
   width: 290px;
   height: 415px;
   filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.35));
   border-radius: 10px;
   margin-bottom:15px;
}
.col-md-3{
	width:1800px;
}
.column{
   text-align:left;
   margin-top:40px;
}
.column a:hover{
   text-decoration: none;
   color: #573EF2;
}
.column a:focus{
   text-decoration: none;
   color: #573EF2;
   border:none;
   outline: none;
}
.column a{
   color:black;
}
.rankTitle1{
   position:relative;
   text-align:left;
   font-family: 'Noto Sans KR', sans-serif;
   font-weight:700;
   font-size: 17pt;
   line-height: 30pt;
   margin-bottom:0px;
}
.rankRate1{
   position:relative;
   text-align:left;
   font-family: 'Noto Sans KR', sans-serif;
   font-weight:400;
   font-size:15pt;
   margin-top:-5px;
}
/* row{
	position:absolute;
	left:225px;
	top:1400px;
	margin:opx auto;
	text-align:center;
	width:1400px;
   height:8000px;
} */
.row{
   position:absolute;
   width:1450px;
   left:0px;
   top:200px;
   margin:opx auto;
   text-align:center;
}
.footer {
	position:relative;
	top: 3300px;
	width: 100%;
	height: 500px;
	background-color: #27243A;
	color: white;
}

/* 
.movieArrays {
   position: relative;
   text-align: left;
       border:1px solid black;
   width: 1378px;
   height: 2000px;
   margin: 0px auto;
   top: 100px;
}
.row{
   width:1400px;
   height:2000px;
}
div.MV_Array img{
   width: 290px;
   height: 415px;
   filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.35));
   border-radius: 10px;
   margin-bottom:15px;
}
.column{
   text-align:left;
   margin-top:40px;
}
.column a:hover{
   text-decoration: none;
   color: #573EF2;
}
.column a:focus{
   text-decoration: none;
   color: #573EF2;
   border:none;
   outline: none;
}
.column a{
   color:black;
} */
/* .rankTitle{
   position:relative;
   text-align:left;
   font-family: 'Noto Sans KR', sans-serif;
   font-weight:700;
   font-size: 17pt;
   line-height: 30pt;
   margin-bottom:0px;
}
.rankRate{
   position:relative;
   text-align:left;
   font-family: 'Noto Sans KR', sans-serif;
   font-weight:400;
   font-size:15pt;
   margin-top:-5px;
} */