@charset "UTF-8";

.my_Review{
position: absolute;
width: 1046px;
height: 475px;
left: 437px;
top: 885px;

border: 2px solid #B0B0B0;
box-sizing: border-box;
border-radius: 10px;
}

.my_Review_Area
{
width: 1046px;
height: 475px;
left: 437px;
top: 885px;
margin-bottom:50px;
border: 2px solid #B0B0B0;
box-sizing: border-box;
border-radius: 10px;	
}

.my_Review_poster{
position:relative;
width: 201px;
height: 288px;
left: 38px;
top: 103px;

background: #C4C4C4;
border-radius: 10px;	
	
}








.my_Review_like{
	position:relative;
	top:-182px;
	left: 43px;
	bottom: 25px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 500;
	font-size: 15pt;
	line-height: 25px;
	color: #573EF2;		
}

.my_Review_like:hover {
	text-decoration: none;
	font-weight: 700;
	font-size: 15pt;
	color: #573EF2;
}
.mrcomend{
width: 750px;
height: 46px;
left: 800px;
top: 1010px;

font-family: Roboto;
font-style: normal;
font-weight: 100;
font-size: 20px;
line-height: 23px;
padding:20px;
color: #000000;	
}


.myInfo_section{
position:absolute;
width: 858px;
height: 656px;
left: 536px;
top: 765px;

background: #FFFFFF;
box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
border-radius: 10px;	
}

.myInfo_head{
position: relative;
width: 709px;
height: 35px;
left: 82px;
top: 200px;

font-family: Roboto;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 117.69%;
/* or 35px */

display: flex;
align-items: flex-end;

color: #27243A;
}
.myInfo_password{
text-align:center;
position:relative;
width: 710px;
height: 50px;
left: 75px;
top: 280px;

background: #FFFFFF;
border: 1px solid #7D7C89;
box-sizing: border-box;
border-radius: 10px;	
}
.myInfo_ChangeButton{
position: relative;
width: 163px;
height: 60px;
left: 350px;
top: 380px;
font-size: 30px;
background: #573EF2;
border: 1px solid #7D7C89;
box-sizing: border-box;
border-radius: 10px;
color:white;
}
.myInfo_section_1
{
position:absolute;
width: 858px;
height: 950px;
left: 536px;
top: 765px;

background: #FFFFFF;
box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
border-radius: 10px;
}
.myInfo_id{
position:relative;
width: 56px;
height: 24px;
left: 612px;
top: 848px;

font-family: Roboto;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 117.69%;
/* identical to box height, or 24px */

display: flex;
align-items: flex-end;

color: #27243A;
}
.myInfo_id{
position:relative;
width:80px;
height: 24px;
left: 52px;
top: 45px;

font-family: Roboto;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 117.69%;
/* identical to box height, or 24px */

display: flex;
align-items: flex-end;

color: #27243A;
}
.myInfo_id_1{
position: relative;
width: 560px;
height: 40px;
left: 48px;
top: 60px;

background: #FFFFFF;
border: 1px solid #7D7C89;
box-sizing: border-box;
border-radius: 5px;	
font-family: Roboto;
font-style: normal;	
font-size: 20px;		
}
.myInfo_pwd{
position:relative;
width:160px;
height: 24px;
left: 52px;
top: 80px;

font-family: Roboto;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 117.69%;
/* identical to box height, or 24px */

display: flex;
align-items: flex-end;

color: #27243A;	
	
}
.myInfo_pwd_1{
position: relative;
width: 560px;
height: 40px;
left: 48px;
top: 90px;

background: #FFFFFF;
border: 1px solid #7D7C89;
box-sizing: border-box;
border-radius: 5px;	
font-family: Roboto;
font-style: normal;	
font-size: 20px;			
}
.myInfo_pwdchange{
position:relative;
width:160px;
height: 24px;
left: 52px;
top: 120px;

font-family: Roboto;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 117.69%;
/* identical to box height, or 24px */

display: flex;
align-items: flex-end;

color: #27243A;	
	
}
.myInfo_pwd_2{
position: relative;
width: 560px;
height: 40px;
left: 48px;
top: 130px;

background: #FFFFFF;
border: 1px solid #7D7C89;
box-sizing: border-box;
border-radius: 5px;	
font-family: Roboto;
font-style: normal;	
font-size: 20px;	
	
}
.myInfo_name{
position:relative;
width:80px;
height: 24px;
left: 52px;
top: 155px;

font-family: Roboto;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 117.69%;
/* identical to box height, or 24px */

display: flex;
align-items: flex-end;

color: #27243A;		
}
.myInfo_name_1{
position: relative;
width: 560px;
height: 40px;
left: 48px;
top: 165px;

background: #FFFFFF;
border: 1px solid #7D7C89;
box-sizing: border-box;
border-radius: 5px;		
font-family: Roboto;
font-style: normal;	
font-size: 20px;	
}
.myInfo_sex{
position:relative;
width:80px;
height: 24px;
left: 52px;
top: 185px;

font-family: Roboto;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 117.69%;
/* identical to box height, or 24px */

display: flex;
align-items: flex-end;

color: #27243A;		
	
}
.myInfo_sex_1{
position:relative;
font-weight: 600;
font-size: 20px;	
width: 560px;
height: 40px;
left: 48px;
top: 200px;	
}
.myInfo_email{
position:relative;
width:80px;
height: 24px;
left: 52px;
top: 230px;

font-family: Roboto;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 117.69%;
/* identical to box height, or 24px */

display: flex;
align-items: flex-end;

color: #27243A;		
}
.myInfo_email_1{
position: relative;
width: 560px;
height: 40px;
left: 48px;
top: 240px;

background: #FFFFFF;
border: 1px solid #7D7C89;
box-sizing: border-box;
border-radius: 5px;		
font-family: Roboto;
font-style: normal;	
font-size: 20px;		
}
.myInfo_tel{
position:relative;
width:80px;
height: 24px;
left: 52px;
top: 280px;

font-family: Roboto;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 117.69%;
/* identical to box height, or 24px */

display: flex;
align-items: flex-end;

color: #27243A;			
	
}
.myInfo_tel_1{
position: relative;
width: 200px;
height: 40px;
left: 48px;
top: 290px;

background: #FFFFFF;
border: 1px solid #7D7C89;
box-sizing: border-box;
border-radius: 5px;		
font-family: Roboto;
font-style: normal;	
font-size: 20px;		
	
}
.myInfo_tel_2{
position: relative;
width: 360px;
height: 40px;
left: 48px;
top: 290px;

background: #FFFFFF;
border: 1px solid #7D7C89;
box-sizing: border-box;
border-radius: 5px;		
font-family: Roboto;
font-style: normal;	
font-size: 20px;			
}
.myInfo_bu_1{
position:relative;
width: 335px;
height: 40px;
left: 65px;
top: 360px;
font-family: Roboto;
font-style: normal;
font-weight: 600;
font-size: 20px;
background: #573EF2;
border:none;	
color:white;
}
.myInfo_bu_2{
position:relative;
width: 335px;
height: 40px;
left: 120px;
top: 360px;
color:white;
background: #573EF2;
font-family: Roboto;
font-style: normal;
font-weight: 600;
font-size: 20px;	
border:none;		
	
}
.com_area1 textarea {
	position: absolute;
	border: none;
	width: 1000px;
	top: 80px;
	left: 37px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 400;
	font-size: 15pt;
	line-height: 25px;
	color: #27243A;
	resize: none;
}

.com_area1 textarea:focus {
	outline: none;
	resize: none;
}
.r_comend1 {
	position: absolute;
	left: 37px;
	top: 100px;
	width: 800px;
	height: 105px;
	text-align: left;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 400;
	font-size: 15pt;
	color: #27243A;
}
.CrossLine4 {
	position: absolute;
	width: 1000px;
	height: 0px;
	left: 37px;
	top: 70px;
	border: 0.75px solid #EAEAEA;
}
.resubmit1{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	position: absolute;
	bottom: 25px;
	right: 37px;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 370;
	font-size: 15pt;
	color: white;
	background-color: #573EF2;
	border-radius: 10px;
	width: 130px;
	height: 50px;
}
.reviewReInsert1{
position: absolute;
	width: 1048px;
	height: 475px;
	left:-2px;
	top:-2px;
	border: 3px solid #573EF2;
	box-sizing: border-box;
	border-radius: 10px;
	background-color: white;	
	
}